# ============================================
# Пользователь контейнера (для прав на файлы)
# ============================================
USER_ID=1000
GROUP_ID=1000

TTS_SERVER_URL=http://localhost:8000    # url server with model
TTS_TIMEOUT=300
